<h1>GET Request Received</h1>

{{#if params1}}
<table>
  <th>
    <tr>Parameter</tr>
    <tr>Value</tr>
  </th>
  {{#each dataList1}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.value}}</td>
  </tr>
  {{/each}}
</table>
{{/if}}